<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="copy">
        <!-- © 2022 - Website by <a href="https://bizop.media/" style="color: #999;" target="_blank">Bizop Media</a> -->
      </div>
      <div class="footer-contacts">
        <div class="footer-contacts__col">
          <div class="footer-contacts__title">
            ADDRESS          </div>
          <div class="footer-contacts__text">
            131, Happy Hallmark Shoppers<br>
Vesu, Surat  395007          </div>
        </div>
        <div style="margin-bottom:-10px;" class="footer-contacts__col">
          <div class="footer-contacts__title">
            Email          </div>
          <div class="footer-contacts__text">
            <a href="mailto:help@vastukararchitects.com">
              help@vastukararchitects.com            </a>
          </div>
          <div class="footer-contacts__text">
            <a href="mailto:help@vastukararchitects.com">
              contact@vastukararchitects.com            </a>
          </div>
        
        </div>
        <div class="footer-contacts__col">
          <div class="footer-contacts__title">
            Phone          </div>
          <div class="footer-contacts__text">
            <a href="tel:+1 615-401-9987">
              +91 999-999-9999            </a>
          </div>
        </div>
      </div>
            <div class="instagram-container">
        <a class="instagram-btn js-insta-btn" href="javascript:void(0);">
          <span class="instagram-btn__icon"></span>
          <span class="instagram-btn__text">Instagram</span>
        </a>
        <div class="instagram-links">
                    <a class="instagram-link" href="https://www.instagram.com/" target="_blank" rel="noopener">
              <strong>Vastukar Architects</strong> Instagram</a>
                    <a class="instagram-link" href="https://www.instagram.com/" target="_blank" rel="noopener">
              <strong>Vastukar Interior Design</strong> Instagram</a>
                    <a class="instagram-link" href="https://www.instagram.com/" target="_blank" rel="noopener">
              <strong>Certified Construction Services</strong> Instagram</a>
        </div>
    </div>
    </div>
  </div>
</footer>      </div><!---/.page--->