{% load static %}
  <div class="b-page">
  <div class="vertical-lines container">
          <div class="vertical-lines__center"></div>
        </div>
  <header class="header has-logo has-menu" role="banner">
<div class="container">
  <div class="header__wrapper">
    
<div class="header-main__logo">
<div class="logo logo-header">
        <span class="custom-logo-link">
        <a href="{% url 'home' %}" aria-label="Home">
          <img width="52" height="52" class="custom-logo" alt decoding="async" src="{% static 'svg/vastu_logo.svg' %}">
        </a>
          <noscript>
            <a href="{% url 'home' %}">
            <img width="52" height="52" src="{% static 'svg/vastu_logo.svg' %}" class="custom-logo" alt decoding="async">
            </a>
          </noscript>
        </span>              
        <span class="header-company-logos-wrapper">
      <span style="margin-left:-25px;" class="header-company-logos">
        <a href="{% url 'vastukar_architects' %}"><img width="100" height="100" src="{% static 'svg/logo_text.svg' %}" class="header-company-logo" alt="Vastukar Architects Group" decoding="async" loading="eager"></a>
        <a href="{% url 'vastukar_interiors' %}"><img width="100" height="100" src="{% static 'svg/vastukar_interiors.svg' %}" class="header-company-logo" alt="Vastukar Interior Design" decoding="async" loading="eager"></a>
        <a href="{% url 'certified_constructions' %}"><img width="960" height="580" src="{% static 'svg/certified-logo-crop.png' %}" class="header-company-logo" alt="Certified Construction Services" decoding="async" loading="eager" style srcset="{% static 'svg/certified-logo-crop.png' %} 960w, {% static 'svg/certified-logo-75%.png' %} 300w, {% static 'svg/certified-logo-crop.png' %} 768w, {% static 'svg/certified-logo-50%.png' %} 50w" sizes="(max-width: 960px) 100vw, 960px">
        </a>        </span>
    </span>
    </div>
</div>

    <nav class="navbar navbar-light header-nav">
<button class="navbar-toggler js-menu" aria-label="Menu">
  <span class="navbar-toggler-icon"></span>
</button>
</nav>    </div>
</div>
</header>
<div class="menu">
<div class="menu-wrapper">
  <div class="menu-top">
    <div class="container">
      <div class="v-line-left"></div>
      <div class="v-line-right"></div>
      <div class="menu-top__wrapper">
        <div class="menu-top__logo">
                        <a class="logo" href>
              <span class="custom-logo-link"><img width="52" height="52" class="custom-logo" alt decoding="async" src="{% static 'svg/vastu_logo.svg' %}"><noscript><img width="52" height="52" class="custom-logo" alt decoding="async"></noscript></span>              </a>
                    </div>
        <div class="menu-top__close">
          <a class="menu-close-btn js-menu-close" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-content">
    <div class="container">
      <div class="v-line-left"></div>
      <div class="v-line-right"></div>
      <ul id="menu-primary-menu" class="menu-items"><li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-42 current_page_item menu-item-348"><a class="menu-link" href="/" aria-current="page"><span class="menu-link__text">Home</span><span class="menu-link__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.5 8.66" width="7.5" height="8.66"><polygon points="7.5 4.33 0 0 0 8.66 7.5 4.33"/></svg></span></a></li>
<li id="menu-item-349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-349"><a class="menu-link" href="/projects/"><span class="menu-link__text">Projects</span><span class="menu-link__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.5 8.66" width="7.5" height="8.66"><polygon points="7.5 4.33 0 0 0 8.66 7.5 4.33"/></svg></span></a></li>
<li id="menu-item-347" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-347"><a class="menu-link" href="/about_us/"><span class="menu-link__text">About us</span><span class="menu-link__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.5 8.66" width="7.5" height="8.66"><polygon points="7.5 4.33 0 0 0 8.66 7.5 4.33"/></svg></span></a></li>
<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a class="menu-link" href="/news/"><span class="menu-link__text">News</span><span class="menu-link__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.5 8.66" width="7.5" height="8.66"><polygon points="7.5 4.33 0 0 0 8.66 7.5 4.33"/></svg></span></a></li>
</ul>        

<div class="menu-bottom">
        <div class="menu-contacts">
          <div class="menu-contacts__group">
            <div class="menu-contacts__caption">
              E-mail              </div>
            <div class="menu-contacts__content" style="padding-top:10px;">
              <a href="mailto:help@vastukararchitects.com">
                help@vastukararchitects.com
              </a>
            </div>
            <div class="menu-contacts__content" style="padding-top:10px;">
              <a href="mailto:help@vastukararchitects.com">
                contact@vastukararchitects.com
              </a>
            </div>
          </div>
          <div class="menu-contacts__group">
            <div class="menu-contacts__caption">Phone</div>
            <div class="menu-contacts__content">
              <a href="tel:+1 615-401-9987">
                +91 999-999-9999                </a>
            </div>
          </div>
        </div>
        <div class="menu-bottom__btn">
          <a class="btn btn-primary btn--with-icon" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal-contact">
            <span class="btn__text">
              Contact Form              </span>
            <span class="btn__icon">
              <span class="icon icon-arrow-right"></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
